@media only screen and (min-width:768px) and (max-width:991px){.head-menu{height: auto;} .head-menu .inner .row.home-why-1{width:100%}.itsupport-banner .col-md-6 img{width:100%;height:auto}.emailserver-banner-sec{height:650px}.emailserver-banner .col-md-6 h1{font-size:40px}.emailserver-banner .col-md-6 h2,.webdev-whychoose .col-lg-4 h3{font-size:22px}.email-hosting-fetaure-sec{padding:20px}.email-hosting-fetaure .col-12 .fetaure-block{width:95%}.c2a h4,.fleet-c2a h4{font-size:30px}.webdev-whychoose .col-lg-4{height:auto} .server-benifits .benefit{height: auto;}.icon-feature-mob, .review-sec-mob {display: none;}}@media (max-width:767px){.navbar-nav .nav-link.active,.navbar-nav .nav-link.show{ padding:10px; color:white;}.banner-fet .list1 li,.home-why-cont .col-lg-4 p,.navbar-nav .nav-link.active,.navbar-nav li{font-size:17px}.price,.testimonial{background-color:#fff}.gsuiteForm form button,.price{margin:10px 0}.email-host-company-feat .tab-content .tab-pane .tab-con,.gsuiteForm form,.icon-feature-mob,.mobile-nav,.review-sec-mob,.sftp-transfer-mob-sec{display:block}.mobile-nav .navbar{background:0 0;box-shadow:none;border:none;margin:0;height:0;min-height:80px;text-align:center}.banner,.home-stats-sec,.homesec,.server-banner-sec .container,.vps-whychoose-sec{background-repeat:no-repeat;background-size:cover}.mobile-nav .navbar .container-fluid{justify-content:right}.mobile-nav .navbar .container-fluid .navbar-collapse .navbar-nav li{padding:10px;font-size:16px;background-color:#fff}.dropdown-menu{border:none}.crm-provider-sec .container .row .col-12 .row .col-md-6 img,.crm-whatdo-sec .container .row .col-12 .row .col-md-6 img,.navbar-nav{width:330px}.navbar-nav li{color:#001254}.navbar-nav li a{font-size:18px;color:#001254;font-weight:600;padding:0 20px}.navbar-nav a{font-size:16px;font-weight:550;text-transform:capitalize;color:#011c7a;padding:10px 15px}.header .navbar-collapse{padding-top:18px}.domain-banner-sec .container .row .col-md-6:nth-child(2) h1,.letterflip{font-size:40px}.server-banner-sec .container{background-image:url('https://res.cloudinary.com/dwyn5jgh3/image/upload/v1722670064/dedicated-banner-mob_fzgmjz.webp')}.banner{min-height:600px;align-self:center;align-content:center;background-position:-265px -55px}.appdev-contact-sec,.carbonio-contact-sec .container-1,.carbonio-exp-sec,.carbonio-partner-sec,.cpanel-os-sec .container .row .col-12 h3,.email-host-company-feature-sec .container,.gsuite-contact-sec,.managed-ser-com .col-12 .comparison-table td,.managed-ser-com .col-12 .comparison-table td:first-of-type,.managed-ser-com .col-12 .comparison-table th,.managed-ser-com .col-12 .comparison-table th:first-of-type,.server-banner-sec .container .row,.webdev-contact-sec{padding:20px}.server{font-size:27px;font-weight:600}.icon-feature-pc,.review-sec-pc,.seo-ban-float,.zimbra-client-sec,.zimbra-guide-sec .container .row .col-md-6:nth-of-type(2){display:none}.server-benifits .benefit{width:80%;height:300px}.server-1{padding:20px 0;font-size:30px}.price{width:280px}.c2a h4{font-size:25px;padding-bottom:15px}.domain-contact-sec .container,.email-server-provider .col-md-6 img,.home-why-1,.home-why-2,.homebanner .row .ban-left-1,.homebanner .row .ban-right,.mailserver-whychoose .col-md-6 img,.mailserver1 .col-1,.mailserver1 .col-2,.managed-ser-banner .col-md-6 img,.os-sec-left img,.payroll-tab .tab-content,.payroll-why-img img,.sftp-why .col-md-6 img{width:100%}.call-t0-action-sec{height:200px;align-content:center}.testimo p{margin:0 20px}.carbonio-partner-sec .container .row .col-12 h2,.cloud-server-1,.domain-ban-text,.server-contact-sec h3,.ssl-banner .col-md-6 h1{font-size:35px}.bulk-email-adv-feature,.bulk-email-feature,.business-email .accordion-item button,.contact-add-sec,.cpanel-banner .row,.cpanel-faq-sec h3,.crm-provider-sec,.crm-whatdo-sec,.crm-whatdo-sec .container .row .col-12 h3,.crm-why-us-sec,.domain-why-choose,.email-arch-block1,.email-arch-block1-sec,.email-arch-block2-sec,.email-host-company-feat .tab-content,.emailserver-banner .form-sec,.entp-faq-sec,.entp-tab-sec,.fleet-c2a .col-md-4,.fleet-whychoose,.hmsfeat1-sec,.howitwork-sec,.mailserver-cta .col-12,.payroll-faq-sec,.payroll-slides,.payroll-tab .nav button,.seo-banner-fet,.seo-serv,.sftp-banner-sec,.spamfilter-ban-sec,.ssl-choose-sec,.testimonial,.webdev-maint-sec .container .row .col-12 .row .col-lg-4 ul li{padding:10px}.homesec{background-image:url(https://res.cloudinary.com/dwyn5jgh3/image/upload/v1726219807/home-banner-mob_xlaupa.webp);width:auto;height:auto;background-position:center;background-color:#1f237f}.fleet-contact-sec,.fleetForm{background-color:transparent}.home-1{padding-left:15px}.home-1 h2:first-of-type,.ssl-choose .plan h4,.text-start,.webdev-maint-sec .container .row .col-12 .row .col-lg-4 ul li h4{font-size:20px}.home-stats-sec{background-image:url(https://res.cloudinary.com/dwyn5jgh3/image/upload/v1726145410/6865227_ypmks2.webp);padding:80px 0;background-attachment:fixed;width:100%}.home-1 h1,.home-1 h2{font-size:20px;padding:1px;text-align:center}.home-why-1 img{height:auto;width:100%}.img{margin-bottom:50px}.ban-right img,.gsuite-prd-sec .row .col-12 .row .col-md-6 img{width:350px;height:250px}.banner-but{padding:7px 15px}.domain-banner-sec .container .row .col-md-6:nth-child(2) h4{color:#fff;padding:5px}.home-feature-sec h2{font-size:36px;padding:10px}.home-feature .col-lg-2 h3{font-size:18px}.home-feature .col-lg-2 p,.webdev-maint-sec .container .row .col-12 .row .col-lg-4 ul li i{font-size:16px}.home-feature .col-lg-2{scale:0.96;width:90%}.home-why-sec{padding:15px}.home-why-sec h3{font-size:35px;font-weight:700}.appdev3 .flip-card-inner,.home-why-cont .col-lg-4 img{margin:10px}.emailserver-banner .col-md-6 h2,.ha-infra .carousel .carousel-inner .carousel-item h3,.home-why-cont .col-lg-4 h3,.mailserver1-sec .container .row .col-12 h3{font-size:22px}.vps-whychoose-sec{background-image:url(https://res.cloudinary.com/dwyn5jgh3/image/upload/v1722081990/ssl-why-choose-mob-1_kszlsn.webp);height:850px}.domain-banner-sec,.fleet-banner{background-size:contain;background-repeat:no-repeat}.email-arch-banner .col-md-6 img,.email-arch-block1 .col-md-6 img,.email-arch-block2 .col-md-6 img,.enterp-banner-sec .container .row .col-md-6 img,.fleet-mange-sec .container .row .col-12 .row .col-md-6 img,.fleet-why-img img,.fleet-why-us .col-md-6:first-of-type img,.ha-clust .col-md-6 img,.hms-why-img img,.itsupport-banner .col-md-6 img,.spamfilter-feat-sec .container .row .col-md-6 img,.vps-whychoose-1 img{width:100%;height:auto}.zimbra-slide .row .col-md-6 p{color:#fff;padding:20px 0}.contact-add .col-lg-3,.zimbra-slide .row .col-md-6 h3{margin-top:20px}.app-service-sec h3,.appdev3-sec h3,.emailserver-banner .col-md-6 h1,.itsupport-client .col-md-6 h2,.managed-ser-spec-con .col-md-6 h3,.seo-serv-sec .container .row .col-12 h3,.ssl-choose-sec .container .row .col-12 h3,.ssl-imp-sec .container .row .col-12 h3,.ssl-why-sec .container .row .col-12 h3,.zimbra-slide .row .col-md-6 h1{font-size:30px}.carbonio-tab-img{width:280px;height:220px;padding-top:20px}.cloud-banner{background-image:url(https://res.cloudinary.com/dwyn5jgh3/image/upload/v1722248514/cloudhosting-bg-mob_ufmpis.webp);background-position:-45px 50px}.zimbra-bg-slider{height:700px;align-content:center}.zimbra-slide row col-md-6{height:700px}.zimbra-slide .row .col-md-6 img{width:330px;height:250px}.zimbra-client-sec-mob .container .row .col-12 p{font-weight:500;font-size:25px;padding:20px}.zimbra-bg-slider .container .row .col-12 .carousel .carousel-control-next,.zimbra-bg-slider .container .row .col-12 .carousel .carousel-control-prev{padding-top:10px}.zimbra-client-sec-mob{display:block;padding:20pxx}.zimbra-bg-slider .container .row .col-12 .carousel .carousel-control-prev{top:100%;left:8%}.zimbra-bg-slider .container .row .col-12 .carousel .carousel-control-next{top:100%;right:60%}.zimbra-guide-sec .container .row .col-md-6 img{width:300px;height:237px}.zimbra-guide-sec .container{height:350px;top:5%;left:5%}.domain-banner-sec,.zimbra-reach-sec .container{align-content:end;height:650px}.zimbra-guide-sec .container .row .col-md-6{text-align:center!important}.ha-clust-sec .container .row .col-12 h3,.payroll-tab-content .tab-pane p,.zimbra-guide-sec .container .row .col-md-6 h2,.zimbra-guide-sec .container .row .col-md-6 p{padding:5px}.zimbra-reach-sec .container .row .col-12 h2{color:#fff;font-size:36px;padding:30px}.zimbra-reach .col-lg-2 h3{font-size:50px}.zimbra-slide-tab-sec{padding-top:50px;padding-bottom:250px}.tab{border-bottom:2px solid grey;margin:30px 5px;width:50px}.zimbra-tab-cont .container{padding-top:100px;padding-bottom:50px}.zimbra-contact .container-1{padding:10px;align-content:center}.gsuite-com-sec .container .row .col-12 img{width:350px;height:180px}.gsuit-banner-sec .container .row .col-md-6:nth-of-type(2) img,.office-banner-sec .container .row .col-md-6:nth-of-type(2) img{width:330px;height:300px}.Business-mail-banner .col-md-6,.fleet-why-us .col-md-6 ul li .col1,.fleet-why-us .col-md-6 ul li .col2 h4,.gsuite-keyfeat .col-md-6,.gsuiteForm{text-align:center}.gsuiteForm form .formField{padding:10px 0}.gsuiteForm form .formField input{border-radius:3px}.gsuite-keyfeat-img img{width:300px;height:280px;padding-top:30px}.gsuite-file-sec .container .row .col-12 .row .col-md-6 img{width:330px;height:210px}.email-arch-form-sec,.email-hosting-fetaure-sec,.gsuite-pro-sec .container .row .row .col-lg-4{padding:30px 10px}.gsuite-pro-sec .container .row .row .col-lg-4 img{width:280px;height:180px}.gsuite-contact-sec .container1{width:100%;align-items:center}.office-feat-sec .container .row .col-12 .row .col-md-6 img{width:330px;height:200px}.cpanel-tab-cont .container{padding-top:80px;padding-bottom:50px}.cpanel-banner .col-md-6 p{padding:0 12px}.domain-banner-sec{background-position:0 -30px;border-bottom:30px;padding:10px;align-content:start}.domain-banner-sec .container .row .col-md-6 img{width:300px;height:300px}.contact-add .col-lg-3 h3,.domain-banner-sec .container .row .col-md-6:nth-child(2),.domain-banner-sec .container .row .col-md-6:nth-child(2) p{text-align:left}.domain-why .col-lg-4 .row .col-md-8 h3{text-align:center;padding:5px}.domain-feat-slider .slick-slider .slick-next{right:10px}.domain-feat-slider .slick-slider .slick-prev{left:10px}.fleet-banner{background-image:url(https://res.cloudinary.com/dwyn5jgh3/image/upload/v1722248618/fleetbanner-mob_sg4hxq.webp);background-position:100%}.fleet-why-img{padding-bottom:20px;padding-right:20px}.fleet-c2a h4{font-size:22px;font-weight:600}.fleet-feat-1 .row .col-lg-4,.fleet-feat-2 .row .col-lg-4,.ha-tab-title .nav-tabs .nav-item{width:90%}.fleet-why-us .col-md-6 ul li .col1{padding:3px}.fleet-feat-1 .row,.fleet-feat-2 .row{justify-content:space-evenly;min-height:900px}.flip-card-inner{height:300px;text-align:center;transition:transform .8s;transform-style:preserve-3d;width:220px}.fleet-contact-sec{background-image:url(https://res.cloudinary.com/dwyn5jgh3/image/upload/v1722239455/fleet-banner_o5kasq.webp);background-size:400%;background-position:-100px 130px}.hms-banner{align-content:center;background-position:-155px 0}.fleet-why-us .col-md-6 ul li{padding:10px;display:grid}.payroll-banner{align-content:start;background-position:-400px 80px;height:450px}.payroll-banner .container .row .ban-left-1 h1{font-size:28px;padding-top:30px}.payroll-why-img{background-image:url(https://res.cloudinary.com/dwyn5jgh3/image/upload/v1722239416/download_ts3nhy.png);background-size:300px;background-position:52px 30px;background-repeat:no-repeat;padding:10px}.payroll-tab .nav{width:100%;padding:2px}.payroll-tab-content .tab-pane img{width:220px;height:150px}.payroll-slider .slick-slider .slick-next{right:15px;z-index:9}.payroll-slider .slick-slider .slick-prev{left:15px;z-index:9}.rainmail-feat-sec .container .row .col-12 h3,.rainmail-why-sec .container .row .col-12 h3,.sftp-banner-sec h1{font-size:32px;padding:10px}.business-email-brand .col-md-6 img,.sftp-banner-sec .container .row .col-md-6:nth-of-type(2) img{width:100%;height:100%}.sftp-transfer-pc{display:none!important}.sftp-transfer-mob img{display:inline!important}.sftp-com{padding:2px}.crm-banner{background-color:#f8fdff;padding:20px}.crm-banner .container .row .ban-left-1 h1,.email-host-company-feat .tab-content .tab-pane h3{font-size:28px;padding:10px 0}.ban-right-1 img{width:360px;height:220px}.crm-feat-2 .row{min-height:600px}.webdev-banner-sec{padding:10px;height:600px}.webdev-banner .row .ban-left-1 p{padding:0 10px}.webdev-banner-fet ul{padding:0 15px}.webdev-site-sec{background-color:#fff;padding:10px;height:540px}.webdev-site-sec .container .row .col-md-6 h3{text-align:center;font-size:28px}.webdev-site-sec .container .row .col-md-6 img{width:100%;height:230px}.webdev-whychoose .col-lg-4{width:95%;height:290px}.webdev-slides .slide{height:500px;padding:10}.webdev-slides{scale:0.98;padding:5px}.webdev-tools-sec .container .row .col-12 h3{font-size:30px;font-weight:600}.webdev-maint-sec .container .row .col-12 h3{font-size:32px;font-weight:600;padding:10px}.app-banner-sec{background-position:left;padding:10px;height:480px}.app-dev2-sec .container .row .col-12 h3{font-size:28px;padding:10px}.app-dev2-sec .container .row .col-12 .row .col-md-6:first-of-type img{width:350px;height:214px}.app-service .col-lg-4,.appdev3,.mailserver-cta .col-12 .row{width:95%}.appfeat-slider .slick-slider .slick-next{right:20px;z-index:9}.appfeat-slider .slick-slider .slick-prev{left:20px;z-index:9}.seo-banner-sec{background-position:72%;background-size:200%;align-content:center}.seo-banner-sec .row .col-12 .row .col-md-6 h1{padding:25px 10px 10px;font-size:30px}.seo-banner-sec .row .col-12 button,.seo-serv .col-lg-4{margin-top:60px}.seo-ban-float h3{padding:10px;font-size:14px}.seo-ban-float h3:first-of-type{width:120px;margin:15px}.seo-ban-float h3:nth-of-type(2){width:180px;margin:15px}.seo-slides{height:500px}.seo-slides .slide h4{height:auto;padding:5px}.ha-banner-sec{background-position:-280px 150px}.ssl1-sec .container .row .col-12 img{width:320px;height:55px;padding:5px}.ssl-choose .plan{padding:10px;width:320px}.ssl-choose img{width:300px;height:27px;padding:2px}.ssl-banner-sec{background-image:url(https://res.cloudinary.com/dwyn5jgh3/image/upload/v1722248398/mobile-banner_mv9pm7.webp);background-repeat:no-repeat;background-size:cover;position:20px 0}.ssl-whychoose-sec{background-image:url(https://res.cloudinary.com/dwyn5jgh3/image/upload/v1722081990/ssl-why-choose-mob-1_kszlsn.webp);background-repeat:no-repeat;background-size:cover;height:auto}.mail-support-banner-sec{align-content:start;background-position:10% 100%}.mail-support-banner-sec .container .row .col-12{text-align:center;padding-top:30px}.mailserver2 .col-md-6{padding:20px;height:auto}.mailserver-cta .col-12 .row .col-md-6{padding:20px;text-align:center}.mailserver-cta .col-12 .row .col-md-6 img{width:200px}.contact-banner-sec{height:200px;background-size:cover;background-position:0 0}.contact-form-sec .container-1{padding:10px;align-items:center}.contact-form{padding-top:30px}.alt-rainmail-bansec .container .row .col-md-6 img{width:300px;height:200px;padding:20px}.rainmail-why-sec{padding:10px;background-color:#f7fbff}.rainmail-why .row .col-md-6{scale:0.96;padding:15px}.rainmail-why .row .col-md-6 img{width:300px;height:250px;padding:20px}.rainmail-why .row .col-md-6 h4{color:#012c66;font-weight:600;font-size:28px;padding:10px}.rainmail-feat-sec .container .row .col-12 table{width:100%;overflow-x:auto}.alt-gsuite-bansec .container .row .col-md-6 img,.business-email-demo .col-md-6 img{width:auto;height:auto}.entp-tab .tab-content .tab-pane .container .row .col-md-6 img{width:auto;height:170px}.email-host-company-banner .col-12 h1,.entp-tab .tab-content .tab-pane .container .row .col-md-6 h5{padding-top:20px}.entp-cont{display:block;text-align:center}.entp-cont .cont{text-align:center;justify-content:start;padding:10px}.entp-slides .slide{height:650px}.emailarchForm,.entp-tab .nav{padding:0}.Business-mail-banner .col-md-6 img{width:380px;height:300px}.Business-mail-banner .col-md-6 h2{text-align:left;font-size:40px;font-weight:500}.spamfilter-ban-sec .container .row .col-12 h1{color:#ffbe00;font-size:30px;padding:5px}.spamfilter-trail-sec{background-color:#eee;padding:10px}.email-arch-banner-sec,.itsupport-banner-sec,.managed-ser-banner-sec{height:auto}.bulk-email-banner-sec,.emailserver-banner-sec{padding:10px;height:auto}.email-hosting-fetaure .col-12 h2{font-size:28px}.email-hosting-fetaure .col-12 .fetaure-block{padding:10px;width:90%}.footer .single-footer .social,.footer-link{padding-left:0}.mailserver1 .col-1 ul{padding-left:.5rem}.email-host-company-banner .col-12 h1{font-size:38px}.email-host-company-feature-sec{padding:30px}.bulk-email-banner .col-12 h1{padding:10px;font-size:36px}.bulk-email-proud .col-12 h2{font-size:32px}.bulk-email-feat .col-lg-4 p,.email-arch-form-sec .container .row .col-12 p{text-align:justify}.bulk-email .row .col-12 ul{padding:10px!important}.email-arch-why{flex-direction:column;align-items:center}.email-arch-block1-sec .container .row .col-12 h3{font-size:25px}.email-arch-block2-sec .container .row{flex-direction:column-reverse}.email-arch-block1 .col-md-6 h4{padding:20px 0}
.main-menu {
    display:none;
}
.content_wrap_col {
    flex-direction: column;
}
.zimbra-reach .col-lg-2 h3 {
    font-size: 40px;
}
.sitemap-container-banner { 
    text-align: center;
    align-content: center;
    background-image: url("https://res.cloudinary.com/dwyn5jgh3/image/upload/v1737625864/sitemap-banner_rcolrv.png");
    background-size: cover;
    height:250px;
}
.formField .row {
    flex-direction: column;
}
.fleet-c2a h3 {
    font-size: 25px;
}
.carbonio-exp-sec .container .row .col-md-6 p {
    font-size: 20px;
    padding: 10px 0;
}
.carbonio-exp-sec .container .row .col-md-6 ul li {
    font-size: 20px;
   
}
.it-support-service1 .col-12 .service1 .col-lg-4 {
    padding: 10px;
}
.webdev-maint-sec {
    padding: 10px;
}
.navbar-nav .nav-link.show {
    color: #ffffff;
}
.navbar-nav .nav-link.show a {
    color: #ffffff;
}
.main-nav .show .dropdown-menu a:hover {
    color: #36bde5;
    background-color: #fff;
}
.nav-link.show {
    color:#fff;
}
/* full stack development page starts */

.full-stack-banner-sec .banner {
    height: auto;
}
.full-stack-banner-sec .banner {
    padding: 20px;
}
.full-stack-banner-sec .row .col-md-6 h1 {
    font-size: 35px;
}
.fullstackform {
    width: auto;
}
.full-stack-banner-sec .row .col-md-6 .cert img {
    padding: 5px;
    width: 60px;
}
.fullstack-client-sec .row .col-12 h3 { 
    left:20%;
}
.fullstack-client-sec .row .col-12 .client { 
    padding: 0;
}

.fullstackhireform { 
    width: 100%;
}
.fullstack-cta .col-md-6 h3 {
    font-size: 30px;
    padding: 20px;
    
}

.fullstack-cta .col-md-6 .call {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: stretch;
}
.fullstack-cta .col-md-6 .call .box {
    margin: 10px;
}
.fullstack-success-sec .success-stories .con { 
    padding: 10px;
    height: 450px;
}
.fullstack-success-sec .success-stories {
    height: auto;
}
.fullstack-expertise-sec {
    padding: 10px;
}
.fullstack-hiring-sec {
    padding: 10px;
}
.fullstack-hiring-tab {
    flex-direction: column;
    border-radius: 10px;
}
.fullstack-hiring-con {
    padding: 0;
}

.fullstack-why .col-12 h3 { 
    font-size: 30px;
}
.fullstack-process-sec { 
    padding: 10px;
}
.fullstack-cta-sec { 
    padding: 10px;
}
.fullstack-resource-sec { 
    padding: 10px;
}

.fullstack-resource .col-12 h3 { 
    font-size: 35px;
}
.fullstack-testimonial-sec {
    padding: 10px;
}
.fullstack-agency h3 { 
    font-size: 30px;
}
.fullstack-faq-sec { 
    padding: 10px;
    
}
.testislider {
    height: auto;
}
.testislider .but .swiper-button-prev { 
    left: 60%;
}
.testislider .but {
    position: relative;
    bottom: 0px;
}
.spotlight-section .swiper-button-prev {
    left: 20%;
}
.fullstack-services .col-md-6 {
    padding: 0px 20px;
}

/* full stack development page ends */

.fullstack-getstarted-sec {

height: 400px;
}
.fullstack-contact-cta-sec {
    padding: 10px;
}
.fullstack-contact-cta {
    flex-direction: column-reverse;
}
.fullstack-why .col-12 h3 {
width: 100%;
}
.fullstack-contact-cta .col-8, .fullstack-contact-cta .col-4 {
    width: 100%;
}
.full-stack-form {
    width: 100%;
  }
  .fullstack-resource .slick-dots {
    position: static;
  }
  .testislider .swiper-slide p {
    height: auto;
  }
  .fullstack-agency-sec { 
    padding: 10px;
  }
  .testislider .but .swiper-button-prev {
    left: 20%;
}
.main-nav a:hover, .blog-navbar a:hover {
    color: #0d6efd;
}
}

@media only screen and (min-width:752px) and (max-width:1200px){ 

    .home-why-1{width:100%}.itsupport-banner .col-md-6 img{width:100%;height:auto}.emailserver-banner-sec{height:650px}.emailserver-banner .col-md-6 h1{font-size:40px}.emailserver-banner .col-md-6 h2,.webdev-whychoose .col-lg-4 h3{font-size:22px}.email-hosting-fetaure-sec{padding:20px}.email-hosting-fetaure .col-12 .fetaure-block{width:95%}.c2a h4,.fleet-c2a h4{font-size:30px}.webdev-whychoose .col-lg-4{height:auto}
    /* full stack page starts */

    .fullstackhireform { 
        width: 40;
    }
    .fullstack-cta .col-md-6 h3 { 
        font-size: 30px;
    }
    .fullstack-cta .col-md-6 .call .box {
        width: 200px;

    }
    .top-head-contact1 {
        display: none;
    }
    .top-head-contact2 {
       width: 100% !important;
    }
    .top-contact-btn {
        display: flex;
    }
    .header .nav li  {
        margin-right: 0px;
    }
    .header .nav li a {
        font-size: 16px;
        padding: 10px 5px;
    }
    .full-stack-banner-sec .banner {
        padding: 20px;
    }
    .banner .row .col-md-6 {
        width: 100%;
    }
    .banner .row {
        flex-direction: column;
    }
    .full-stack-banner-sec .banner  {
        height: auto;
        text-align: left;
    }
    .fullstackform {
        width: 90%;
    }
    .container, .container-md, .container-sm {
        width: 780px;
    }
    .fullstack-cta-sec {
        padding: 40px 10px;
    }
    .fullstack-cta {
        flex-direction: column;
    }
    .fullstack-cta .col-md-6 {
        width: 100%;
    }
    .fullstack-cta .col-md-6 .call{
        text-align: center;
    }
    .fullstack-cta .col-md-6 .call .box { 
        width: 250px;
        margin-right: 30px;
    }
    .fullstack-cta .col-md-6:nth-of-type(2) {
        padding: 20px;
        text-align: center;

    }
    .fullstackhireform { 
        width: 90%;
    }
    .testislider .but .swiper-button-prev {
    left:40%;
    }
    .spotlight-section .swiper-button-prev { 
        left:30%;
    }
    .fullstack-tech-sec {
        padding: 10px 30px;
        background-color: #f6f9ff;
    }
    .fullstack-agency h3 {
        font-size: 30px;
    }
    .fullstack-cta .col-md-6 h3,.fullstack-cta .col-md-6 p  { 
        text-align: center;
    }
    .fullstack-why .col-12 h3 {
        font-size: 30px;
    }
    .fullstack-process-sec .container {
        width: 90%;
    }
    .process-line {
        display: none;
    }
    .mobile-nav {
        display: none;
    }

    /* full stack page ends */
}

